body {
  background-color: black;
}

/* hide close button/icon in dialogs */
.no-close .ui-dialog-titlebar-close {
  display: none;
}

.tablesorter-jui td:nth-child(4) {
  text-align: center;
}

.tablesorter-jui td {
  vertical-align: middle;
}

a.xlink {
  text-decoration: underline;
  cursor: pointer;
}